# Pizza Database

#### Installing pandas

In [96]:
#!pip install pandas

### Importing pandas and psycopg2

In [44]:
import psycopg2
import pandas as pd

### Creating project database

In [60]:
def create_database():
    # connect to default database
    #conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=postgres")
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=postgres")
    conn.set_session(autocommit=True)
    cur =  conn.cursor()
    
    #creating project database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS project")
    cur.execute("CREATE DATABASE project")
    
    #closing connection to default database
    conn.close()
    
    #connecting to project database
    conn = psycopg2.connect("host=127.0.0.1 dbname=project user=postgres password=postgres")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    return cur, conn

## Reading the source data from csv files and storing in variables

In [46]:
Pizzas = pd.read_csv("source_data/pizzas.csv")

In [47]:
Pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [48]:
Order_details = pd.read_csv("source_data/order_details.csv")

In [49]:
Order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [50]:
Pizza_types = pd.read_csv("source_data/pizza_types.csv")

In [51]:
Pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [52]:
Orders = pd.read_csv("source_data/orders.csv")

In [53]:
Orders.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30

In [54]:
Orders.columns

Index(['order_id', 'date', 'time'], dtype='object')

## Creating the database tables

In [61]:
cur, conn = create_database()

In [55]:
pizzas_table_create = (""" CREATE TABLE IF NOT EXISTS 
                        pizzas (pizza_id VARCHAR PRIMARY KEY,
                        pizza_type_id VARCHAR,
                        size VARCHAR,
                        price VARCHAR);
""")

In [62]:
cur.execute(pizzas_table_create)

In [66]:
orders_table_create = (""" CREATE TABLE IF NOT EXISTS
                        orders (order_id VARCHAR PRIMARY KEY,
                        date VARCHAR,
                        time VARCHAR);
""")

In [67]:
cur.execute(orders_table_create)

In [69]:
order_details_table_create = (""" CREATE TABLE IF NOT EXISTS
                                order_details (order_details_id VARCHAR PRIMARY KEY,
                                order_id VARCHAR,
                                pizza_id VARCHAR,
                                quantity VARCHAR
                                );
""")

In [70]:
cur.execute(order_details_table_create)

In [37]:
pizza_types_table_create = (""" CREATE TABLE IF NOT EXISTS
                                pizza_types (pizza_type_id VARCHAR PRIMARY KEY,
                                name VARCHAR,
                                category VARCHAR,
                                ingredients VARCHAR);
""")

In [72]:
cur.execute(pizza_types_table_create)

#### Inserting data into pizza table

In [73]:
pizzas_table_insert = ("""  INSERT INTO pizzas (
                            pizza_id,
                            pizza_type_id,
                            size,
                            price)
                            VALUES (%s, %s, %s, %s)
""")

In [77]:
for i, row in Pizzas.iterrows():
        cur.execute(pizzas_table_insert,list(row))

#### Inserting data into orders table

In [82]:
orders_table_insert = (""" INSERT INTO orders(
                            order_id,
                            date,
                            time)
                            VALUES ( %s, %s, %s)
""")

In [85]:
for i, row in Orders.iterrows():
        cur.execute(orders_table_insert,list(row))

#### Inserting data into order_details table

In [86]:
order_details_table_insert = (""" INSERT INTO order_details (
                                order_details_id,
                                order_id,
                                pizza_id,
                                quantity)
                                VALUES ( %s, %s, %s, %s)
""")

In [87]:
for i, row in Order_details.iterrows():
        cur.execute(order_details_table_insert,list(row))

#### Inserting data into pizza_types table

In [88]:
pizza_types_table_insert = (""" INSERT INTO pizza_types (
                                pizza_type_id,
                                name,
                                category,
                                ingredients)
                                VALUES ( %s, %s, %s, %s)
""")

In [93]:
for i, row in Pizza_types.iterrows():
        cur.execute(pizza_types_table_insert,list(row))